.image_wrap {
  position: relative;
}
.report_image {
  position: relative;
}
.resume_image {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(164, 182, 205);
}
.line {
  border: none;
  width: 15px;
  height: 1px;
  background: rgb(164, 182, 205);
}
.skill_screen::before {
  content: "";
  background: #f7fcff;
  position: absolute;
  bottom: 50px;
  left: -50vw;
  right: -50vw;
  top: -100px;
  z-index: -10;
}
.Block {
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
#Resizable {
  border: 1px solid black;
  height: 100%;
  width: 200px;
  background: rgba(255, 0, 0, 0.224);
  /* position: absolute; */
}
#Draggable {
  background: rgba(1, 1, 1, 1);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  cursor: col-resize;
  height: 20px;
  width: 10px;
}
